.addDiv{
    margin-top: 100px;
}

.mb-4{
    display:flex; 
    flex-direction: row; 
    justify-content: left;
    align-items: center;
}

.lab{
    width: 200px;
    font-weight: bold;
}

#male{
    padding-right:50px;
}
