.listDiv{
    margin-top: 100px;

}

.th{
    background-color: rgb(186, 252, 230);    
}

.tb{
    background-color: whitesmoke;
}

.th,.tb{
    padding: 10px;
    text-align: center;
    border: 2.5px solid white;
}